html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 100%;
}
* { 
    touch-action: pan-y
}
button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;  //自定义边框
    outline: none;    //消除默认点击蓝色边框效果
}
div {
    outline: none;    //消除默认点击蓝色边框效果
}

.main_bgd_color {
    background-color: #484f52;
}
.menu_bgd_color {
    background-color: #4f6d8c;
}