.fontColor {
    color: #a9a9a9;
}

.pageColor {
    background-color: #dedfe6;
}

.bgdColor {
    background-color: #1c3046;
}
.rotating90 {
    transform: rotate(90deg);
}
.borderNone {
    border: 0;
    outline: none;
}
.bgkColor {
    background-color: #416080;
}
.greenColor {
    color: #02f32b;
}
.redColor {
    color: #fa4c4c;
}